<div class="container-fluid conte">
  <div class="row justify-content-center mt-0">
    <div class="col text-center p-0 mt-1 mb-1 mx-4">
      <div class="card pt-4 mt-3 mb-3 shadow-sm p-1 mb-2 bg-body rounded-2">
        <div class="card-title">
          <strong>
            AVISO Y/O AUTORIZACIÓN DE MANEJO DE INFORMACIÓN Y DATOS PERSONALES
          </strong>
        </div>
        <div class="card-body">
          <p class="d-flex justify-content-center text-start">
            SUCIONES CIVILES S.A, NIT. 811.033.259-4, domiciliada en la ciudad
            de Medellín, Antioquia, informa que cuenta con bases de datos que
            contienen información y datos personales de nuestros clientes,
            proveedores, contratistas, empleados y ex-empleados, entre otros,
            información que nos han reportado en desarrollo de las diferentes
            actividades de nuestra compañía.
          </p>
          <p class="d-flex justify-content-center text-start">
            En atención a la Ley Estatutaria 1581 de 2012 y su posterior Decreto
            Reglamentario 1377 de 2013, se hace necesario solicitar la
            autorización de los titulares de los datos personales para poder
            continuar con el tratamiento de sus información, teniendo en cuenta
            que el tratamiento podrá implicar la transferencia, transmisión y/o
            recepción de la misma, así como el manejo por terceros encargados o
            de sus aliados comerciales, siempre con el fin de brindar un mejor
            servicio y un tratamiento adecuada a la información suministrada.
          </p>
          <p class="d-flex justify-content-center text-start">
            Nuestras políticas de tratamiento de datos personales y sus
            mecanismos a través de los cuales hacemos uso de éstos, son seguros
            y confidenciales, pues contamos con los medios idóneos para asegurar
            que sean almacenados de manera tal que se impida el acceso indeseado
            por parte de terceras personas, y en ese mismo orden aseguramos la
            confidencialidad de los mismos.
          </p>
          <p class="d-flex justify-content-center text-start">
            Si Usted desea que sus datos sean suprimidos de nuestras bases de
            datos, le solicitamos manifestarlo en forma expresa en el término de
            treinta (30) días hábiles, contados a partir del envío de esta
            comunicación. De lo contrario consideraremos que nos autoriza para
            que los mismos sean utilizados para la promoción de servicios y
            productos atendiendo a la naturaleza de nuestro objeto comercial.
          </p>
          <p class="d-flex justify-content-center text-start">
            SOLUCIONES CIVILES S.A, informa que usted, que tiene la posibilidad
            de acceder en cualquier momento a sus datos personales, así como
            solicitar expresamente, en cualquier momento, su corrección,
            actualización o supresión, en los términos establecidos por la Ley
            1581 de 2012, dirigiendo una comunicación escrita al correo
            electrónico solciviles03@une.net.coo de manera física remitiendo
            comunicado a la ubicada en la carrera 43 B No. 16-41 Centro de
            Oficina Staff oficina 1703, En la Ciudad de Medellin, Antioquia, de
            igual forma podrá comunicarse para solicitar información adicional
            al teléfono PBX: (57 (4) 4483960. De igual forma podrá consultar
            nuestra política de tratamiento de datos personales a través de la
            pagina: www.solciviles.com
          </p>
          <p class="text-start">Atentamente,</p>
          <p class="text-start"><strong>SOLUCIONES CIVILES S.A.</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
