<div class="container-fluid conte">
  <div class="row justify-content-center mt-0" id="mainCard">
    <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
      <div
        class="card px-0 pt-4 mt-3 mb-3 shadow-sm p-3 mb-5 bg-body rounded-2"
      >
        <!-- header -->
        <div class="card-title fw-bold font-monospace fs-3">LOGIN</div>
        <form class="form text-start form-group mb-3 mt-3">
          <div class="col mx-3 mb-3">
            <label for="name" class="form-label text-start mx-1 px-0"
              >Nombre de Usuario</label
            >
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="Username"
            />
          </div>
          <div class="col mx-3 mb-3">
            <label for="name" class="form-label text-start mx-1 px-0"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="floatingInput"
              placeholder="Password"
            />
          </div>
          <div class="col mx-3 mt-4 mb-0 d-grid gap-2">
            <button class="btn btn-primary btn-default py-2">Ingresar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
