<section id="step1" class="pt-3 pb-2">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-uppercase">Inmueble</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">Selecciona el inmueble</div>
    </div>

    <form class="form-iniline" [formGroup]="step1Form">
      <div class="form-group row mb-3 mt-3">
        <label class="form-label text-start mx-1 px-0" for="project"
          >Project</label
        >
        <select
          type="text"
          class="form-control"
          id="project"
          placeholder="Selecione el Projecto"
          formControlName="project"
          (change)="onChangeProject($event.target.value)"
        >
          <option value="" disabled selected>Selecione Proyecto</option>
          <option *ngFor="let project of projects" value="{{ project.id }}">
            {{ project.name }}
          </option>
        </select>
        <!-- <small
          *ngIf="this.step1Form.invalid && this.step1Form.touched"
          class="text-danger"
          >Debe Seleccionar un Projecto</small
        > -->
      </div>
      <div class="form-group row mb-3">
        <label class="form-label text-start mx-1 px-0" for="project"
          >Torre</label
        >
        <select
          type="text"
          class="form-control"
          id="project"
          formControlName="build"
          placeholder="Selecione el Projecto"
          (change)="onChangeBuilding($event.target.value)"
        >
          <!-- [class.is-invalid]="this.step1Form.invalid && this.step1Form.touched" -->
          <option value="" disabled selected>Selecione Edificio</option>
          <option *ngFor="let build of buildings" value="{{ build.id }}">
            {{ build.name }}
          </option>
        </select>
        <small *ngIf="false" class="text-danger"
          >Debe Seleccionar una Torre</small
        >
      </div>

      <div class="form-group row mb-3">
        <label class="form-label text-start mx-1 px-0" for="project"
          >Inmueble</label
        >
        <select
          type="text"
          class="form-control"
          id="project"
          formControlName="aparment"
          placeholder="Selecione Inmueble"
        >
          <option value="" disabled selected>Selecione Inmueble</option>
          <option *ngFor="let aparment of aparments" value="{{ aparment.id }}">
            {{ aparment.name }}
          </option>
        </select>
        <!-- <small *ngIf="false" class="text-danger"
          >Debe Seleccionar un apartamento</small
        > -->
      </div>
    </form>
    <div class="row">
      <div class="col">
        <small *ngIf="this.isInvalid" class="text-danger"
          >Revisar el Formulario Esa mal diligenciado</small
        >
      </div>
    </div>

    <input
      type="button"
      name="next"
      class="btn btn-outline-success mt-3 mb-2"
      value="Next Step"
      (click)="saveStep()"
    />
  </div>
</section>
