<section id="step1" class="pt-3 pb-2">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-uppercase">Personal Information</h2>
      </div>
      <div class="row">
        <div class="col text-center">Ingrse Informacion de Contacto</div>
      </div>
    </div>
    <form [formGroup]="step2Form">
      <div class="form-group mb-3 mt-3 row">
        <label for="name" class="form-label text-start mx-1 px-0"
          >Ingrese Nombre y Apellidos</label
        >
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Nombre Completo"
          formControlName="name"
          [class.is-invalid]="nameInvalid"
        />
        <small *ngIf="nameInvalid" class="text-danger text-start"
          >Ingresar Nombre y Apellidos</small
        >
      </div>
      <div class="form-group mb-3 row">
        <label for="name" class="form-label text-start mx-1 px-0"
          >Ingrese Correo</label
        >
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="email"
          formControlName="email"
          [class.is-invalid]="emailInvalid"
        />
        <small *ngIf="emailInvalid" class="text-danger text-start"
          >Debe Ingresar un Correo Valido</small
        >
      </div>
      <div class="form-group mb-3 row">
        <label for="name" class="form-label text-start mx-1 px-0"
          >Celular</label
        >
        <input
          type="number"
          class="form-control"
          id="floatingInput"
          placeholder="cel"
          formControlName="phone"
          [class.is-invalid]="phoneInvalid"
        />
        <small *ngIf="phoneInvalid" class="text-danger text-start"
          >Debe Ingresar un Telefono Valido</small
        >
      </div>
      <div
        class="
          form-check form-check-inline
          text-start
          d-flex
          justify-content-start
        "
      >
        <input
          class="form-check-input"
          type="checkbox"
          name="flexRadioDefault"
          id="flexRadioDefault1"
          formControlName="dataController"
          [class.is-invalid]="dataControllerInvalid"
        />
        <label class="form-check-label mx-2" for="flexRadioDefault1">
          He leìdo y acepto la
          <a routerLink="/data-treatment" target="_blank"
            >Politica de privacidad de datos</a
          >
        </label>
      </div>
      <small *ngIf="dataControllerInvalid" class="text-danger text-start"
        >Debe Aceptar la Politica de tratamiento de datos</small
      >
    </form>
    <div class="row">
      <div class="col text-start word-wrap py-2">
        <p class="lh-sm">Revisar por el abogado este parrafo es una copia</p>
        <p class="text-break">
          NOTA : Recuerde que para la atencion de su requerimiento es
          indispensable que los daños no sean consecuencia de uso indebido,
          falta de mantenimiento, o por no sefuir las recomendaciones
          especificas en el manual del propietario, suministrado al momento de
          la entrega del inmueble
        </p>
      </div>
    </div>
    <input
      type="button"
      name="previous"
      class="btn btn-outline-success mt-3 mb-2 mx-3"
      value="Previous"
      (click)="stepMinus()"
    />
    <input
      type="button"
      name="next"
      class="btn btn-outline-success mt-3 mb-2"
      value="Next Step"
      [disabled]="step2Form.invalid"
      (click)="stepPlus()"
    />
  </div>
</section>
