.loader {
  position: fixed;
  z-index: 1021;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

// .loader .gooey {
//   width: 142px;
//   height: 40px;
//   background: white;
//   filter: contrast(10);
// }
