<div class="container-fluid conte">
  <div class="row justify-content-center mt-0" id="mainCard">
    <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
      <div
        class="card px-0 pt-4 mt-3 mb-3 shadow-sm p-3 mb-5 bg-body rounded-2"
      >
        <!-- header -->
        <div class="card-title fw-bold font-monospace fs-3">POSTVENTAS</div>
        <p class="font-monospace px-3">
          Llenar el Formulario para ir al siquiente paso
        </p>
        <div
          class="row py-3 mx-1 justify-content-center align-items-center"
          id="progressbar"
        >
          <!-- progressbar  col-lg-3 col-md-6 col-sm-12 -->

          <div
            class="wizard_element col-lg-2 flex-fill shadow-sm-1 mx-1 my-2 py-2 rounded"
            [ngClass]="step === 1 ? 'alert alert-danger select' : null"
            id="account"
          >
            <strong class="my-2">Inmueble</strong>
            <br />
            <span class="badge bg-primary mb-2 rounded-pill">pending</span>
          </div>
          <div
            class="wizard_element col-lg-2 flex-sm-fill shadow-sm mx-1 my-2 py-2 rounded"
            [ngClass]="step === 2 ? 'alert alert-danger select' : null"
            id="personal"
          >
            <strong>Contacto</strong>
            <br />
            <span class="badge bg-primary mb-2 px-1 rounded-pill">pending</span>
          </div>

          <div
            class="wizard_element col-lg-2 flex-sm-fill shadow-sm mx-1 my-2 py-2 rounded"
            [ngClass]="step === 3 ? 'alert alert-danger select' : null"
            id="warranty"
          >
            <strong>Garantias</strong>
            <br />
            <span class="badge bg-primary mb-2 px-1 rounded-pill">pending</span>
          </div>

          <div
            class="wizard_element col-lg-2 flex-sm-fill shadow-sm mx-1 my-2 py-2 px-1 rounded"
            [ngClass]="step === 4 ? 'alert alert-danger select' : null"
            id="confirm"
          >
            <strong>Confirmacion</strong>
            <br />
            <span class="badge bg-primary mb-2 px-1 rounded-pill">pending</span>
          </div>
        </div>
        <!-- maininfo -->
        <div class="row">
          <div class="card-body py-0">
            <div class="row">
              <div class="col px-2 mx-2 pt-2">
                <fieldset *ngIf="step === 1">
                  <app-step1
                    [initStep]="step"
                    (stepChanged)="changeStep($event)"
                  ></app-step1>
                </fieldset>
                <fieldset *ngIf="step === 2">
                  <app-step2
                    [initStep]="step"
                    (stepChanged)="changeStep($event)"
                  ></app-step2>
                </fieldset>
                <fieldset *ngIf="step === 3">
                  <app-step3
                    [initStep]="step"
                    (stepChanged)="changeStep($event)"
                  ></app-step3>
                </fieldset>
                <fieldset *ngIf="step === 4">
                  <app-step4
                    [initStep]="step"
                    (stepChanged)="changeStep($event)"
                  ></app-step4>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
