@import "./../../../vars.scss";

.conte {
  background: $background-color;
  height: 100%;
}

.wizard_element {
  background: #eef1f4;
}
.active {
  color: red;
  background-color: royalblue;
}

.select {
  background: #f1e3e4;
}

@media (max-width: 900px) {
  .wizard_element {
    display: none;
  }
  .select {
    display: block;
    visibility: visible;
  }
}
