<!-- MultiStep Form -->
<div class="container-fluid" id="grad1">
  <div class="row justify-content-center mt-0">
    <div class="col text-center mx-8 my-2">
      <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
        <h2 class="card-title"><strong>Postventas</strong></h2>
        <p>Llenar el Formulario para ir al siquiente paso</p>
        <div class="row">
          <div class="col-md-12 mx-0">
            <form id="form">
              <div class="row">
                <!-- progressbar -->
                <ul class="list-group list-group-horizontal" id="progressbar">
                  <li class="list-group-item" id="account">
                    <strong>Inmueble</strong>
                    <br />
                    <span class="badge bg-primary rounded-pill">pending</span>
                  </li>

                  <li class="list-group-item" id="personal">
                    <strong>Contacto</strong>
                    <br />
                    <span class="badge bg-primary rounded-pill">pending</span>
                  </li>

                  <li class="list-group-item" id="warranty">
                    <strong>Garantias</strong>
                    <br />
                    <span class="badge bg-primary rounded-pill">pending</span>
                  </li>

                  <li class="list-group-item" id="confirm">
                    <strong>Confirmacion</strong>
                    <br />
                    <span class="badge bg-primary rounded-pill">pending</span>
                  </li>
                </ul>
              </div>
              <!-- fieldsets -->
              <fieldset *ngIf="step === 1">
                <app-step1
                  [initStep]="step"
                  (stepChanged)="changeStep($event)"
                ></app-step1>
              </fieldset>
              <fieldset *ngIf="step === 2">
                <app-step2
                  [initStep]="step"
                  (stepChanged)="changeStep($event)"
                ></app-step2>
              </fieldset>
              <fieldset *ngIf="step === 3">
                <app-step3
                  [initStep]="step"
                  (stepChanged)="changeStep($event)"
                ></app-step3>
              </fieldset>
              <fieldset *ngIf="step === 4">
                <app-step4
                  [initStep]="step"
                  (stepChanged)="changeStep($event)"
                ></app-step4>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
